/* 
	detect CSS 		
 	created: May 2016 
 	last modified: March 2017
	author: Steve Rucker
*/
.btn-kairos {
	background-color: black;
	color: #FFF!important;
	border-radius: 0;
	font-weight: bold;
	padding: 12px;
}
	.btn:hover {
		background-color: #0d6f62;
		color: #FFF!important;
	}
.display-image-container {
	position: relative;
	width: 100%;
	height: 475px;
	overflow: hidden;
}
.detect.json-response-container {
    border: none;
    float: left;
	height: 475px;
	padding-left: 15px;
	display: none;
}
.detect.json-response-container .json-response {
	width: initial;
}
.show-hide-json {
	padding-left: 15px;
}
.image-container-template {
	background-color: #2c3444;
    width: 100%;
    height: 475px;
    position: absolute;
    top: 0;
    display: none;
}
#previewImage {
	position: relative;
	z-index: 1;
	width: 100%;
	height: auto;
}
#imgCanvas {
	position: absolute;
	top: 0;
	left: 15px;
	z-index: 0;
}
.thumbnails {
	margin-top: 15px;
}
.photo-thumbnail img {
	width: 47%;
	margin-right: 3%;
	opacity: 0.7;
}
.image1 img, .image4 img {
	float: left;
}
.image3 img, .image5 img {
	margin-right: 0;
	float: right;
}
.image4 img, .image5 img {
	margin-top: 15px;
}
.photo-thumbnail:last-child img {
	margin-right: 0;
}
.webcam-video-container {
	overflow: hidden;
	position: absolute;
    top: 0;
    left: 15px;
}
#webcamVideo {
	position: absolute;
	top: 0;
    left: 0;
	z-index: 9;
}
#displayCanvas {
	left: 0;
}
#webcamCanvas {
	position: absolute;
	top: 0;
	left: -50px;
	z-index: 8;
	display: none;
}
.face-overlay{
	position: absolute;
	display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: transparent url('../images/face_overlay.png') no-repeat;
    background-size: 50%;
    background-position: 23% 23%;
    z-index: 10;
    display: none;
}
/* UPLOAD MODULE */
#mediaUploadForm {
	margin: 0;
}
.upload-button {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #fff!important;
    height: 46px;
    width: 100%;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    padding: 0;
}
.upload-button input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 9999;
    margin: 0;
    padding: 12px;
}
.upload-value {
	position: absolute;
	top: 7px;
    left: 104px;
	color: #fff;
}
.canvas-container {
	width: 100%;
    height: 475px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 9;
}
.url-error {
	color: #ff0000;
	padding: 10px 0 0 10px;
	font-size: 12px;
}
/* PROCESSING STATUS ELEMENTS */
.spinner-message-container {
	position: absolute;
	top: 42%;
    left: 0;
    width: 97%;
    /*display: none;*/
}
.webcam-video-container .spinner-message-container {
	width: 100%;
}
.processing-spinner {
	text-align:center;  width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/spinner.gif') no-repeat;
}
.sad-face {
	width: 50px; 
	height: 50px; 
	margin: 0 auto; 
	background: transparent url('../images/sad_face.png') no-repeat;
}
.message-container{
	font-size: 14px;
	clear: both;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}
	.message-container.strong{
		font-size: 16px;
		font-weight: bold;
	}
.webcam-message-container {
	text-align: center;
	position: absolute;
	top: 42%;
    left: 0;
    width: 100%;
    display: none;   
}
.webcam-message-container p {
	font-size: 14px;
	color: #fff;
	padding: 0 178px;
}
.webcam-message-container span {
	font-size: 16px;
	font-weight: bold;
}
.webcam-counter {
	position: absolute;
    top: 46%;
    width: 100%;
    z-index: 999;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
}
.ui-buttons {
	margin-top: 15px;
	position: relative;
	clear: both;
}
.ui-buttons .upload {
	margin-top: 15px;
}
.ui-buttons .upload.full-width {
	padding-left: 15px;
	width: 100%;
}
.ui-buttons .url {
	padding-right: 0;
}
.ui-buttons div:nth-child(4) {
	margin-top: 15px;
}
.ui-buttons div button {
	width: 100%;
}
.ui-buttons input {
	border: 2px solid #CCC;
    margin-top: 15px;
    height: 46px;
    width: 100%;
    padding-left: 10px;
    color: #333;
}
.ui-buttons-mask {
	position: absolute;
    top: 0;
    left: 15px;
    background-color: #000;
    opacity: 0.3;
    width: 97%;
    height: 100%;
}
.options-panel {
	padding: 0 20px 15px;
	margin: 15px 0;
	display: none;
	border: 1px solid #ccc;
}
.options-panel label {
	padding-right: 10px;
}
.options-panel .prompt {
	font-size: 11px;
	display: block;
	color: #999;
	margin-bottom: 5px;
}
#optionConfidenceThreshold, #optionMinHeadScale {
	width: 60px;
	height: 30px;
	display: inline;
}
.options-panel .option-error-confidence, .options-panel .option-error-minheadscale {
	font-size: 11px;
	display: inline;
	color: #ff0000;
	margin-left: 5px;
}
.payload-display span {
	display: block;
	margin-top: 5px;
}
.form-control {
	border-radius: 0;
	border: 2px solid #CCC;
    margin-top: 15px;
    color: #333;
    margin-bottom: 15px;
    padding: 6px 9px;
}
.ui-slider-handle {
	border-radius: 10px;
	background: #000!important;
}
.ui-slider-horizontal {
	height: 7px;
	background: #ccc;
	border: none;
	border-radius: 0;
}
.ui-widget-header {
	background: #139C8A;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -6px;
	border: 2px solid #fff;
	width: 18px;
    height: 18px;
}
label[for=optionSelector] {
	width: 100%;
}
.btn-group {
	margin-bottom: 10px;
}
.btn-primary {
	background-color: #139C8A;
	border-color: #aaa;
}
.btn-primary:hover {
	border-color: #aaa!important;
}
.btn-primary.active, 
.btn-primary:active, 
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover
 {
    color: #fff;
    border-color: #aaa!important;
	background-color: #0d6f62;
}
/* ethnicity */
.show-hide-ethnicity {
	position: absolute;
    top: 10px;
    left: 24px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    z-index: 999;
    display: none;
}
	.show-hide-ethnicity:hover {
		color: #247769;
	}
.ethnicity-graph {
    position: absolute; 
	width: 475px; 
	height: 100%; 
	z-index: 99;
	left: 15px;
	top: 0px;
	background-color: #2c3444;
	display: none;
}
.ethnicity-graph-inner {
	padding: 0 6px;
}
.ethnicity-graph-inner .bar-container {
	height: 84px;
    margin: 50px 22px 0 0;
}
.ethnicity-graph-inner .bar-header {
	color: #fff;
	float: left;
	width: 20%;
	text-transform: uppercase;
	text-align: right;
	padding-right: 20px;
}
.ethnicity-graph-inner .bar-header .percent {
	font-size: 22px;
	font-weight: bold;
}
.ethnicity-graph-inner .bar-header .title {
	font-size: 13px;
	font-weight: normal;
}
.ethnicity-graph-inner .bar-outer {
	float: left;
	height: 24px;
	width: 80%;
	padding-top: 11px;
}
.ethnicity-graph-inner .bar {
	width: 0%;
	height: 24px;
	background-color: #139C8A;
}
/*  checkbox styling */
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    padding: 3px 0;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

